<div class="header">
    <a href="#default" class="logo">CompanyLogo</a>
    <div class="header-right">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/admin" routerLinkActive="active">Admin</a>
      <a routerLink="/upcoming" routerLinkActive="active">UpComing</a>
      <a routerLink="/activities" routerLinkActive="active">Activities</a>
      <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </div>
</div>
<!-- <div>
    <app-image-slider></app-image-slider>
</div> -->
